@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero d-flex align-items-center justify-content-center text-center">
    <div class="text-white">
        <h1 class="display-3 fw-bold sombra-texto">Biblioteca UTN San Francisco</h1>
        <p class="lead">Bienvenidos a nuestro espacio de conocimiento y aprendizaje.</p>
    </div>
</section>